.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.table {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.detail {
    width: 100%;
    height: 100%;
    // overflow: auto;
}
