<div style="height: 100%; border: 1px solid red">
    <p>test project</p>
</div>
<div id="table-one"></div>
<div id="table-two"></div>

<!-- <app-alert [open]="alertOpen" [message]="alertMessage"></app-alert>
<div class="project-main">
    <form class="form" [formGroup]="projectForm" (ngSubmit)="onProjectSubmit()">
        <label>
            Nom du projet:
            <input type="text" formControlName="name" />
        </label>

        <label>
            Client:
            <input type="text" formControlName="client" />
        </label>

        <label>
            Date:
            <input type="date" formControlName="date" />
        </label>
        <button type="submit" [disabled]="!projectForm.valid">Ajouter un projet</button>
    </form>

    <div class="container">
        <ul class="projects">
            <li *ngFor="let project of projects" (click)="onSelect(project)">
                Name <span>{{ project.name }}</span> Client : {{ project.client }} Date : <span>{{ project.date }}</span>
            </li>
        </ul>
    </div>
</div> -->
