.percent {
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.percent-item {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    padding-right: 10px;
}
