<form nz-form [formGroup]="resForm">
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="code" nz-input type="text" placeholder="Code" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="description" nz-input type="text" placeholder="Description" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="unit" nz-input type="text" placeholder="Unité" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="unit_price" nz-input type="number" placeholder="Prix Unitaire" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="production" nz-input type="number" placeholder="Production" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="unit_production" nz-input type="text" placeholder="Unite de production" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
</form>

<div *nzModalFooter>
    <button [disabled]="!resForm.valid" nz-button nzType="primary" (click)="addResource()">OK</button>
    <button nz-button nzType="default" (click)="cancel()">Annuler</button>
</div>
