<!-- <h1 mat-dialog-title>Ajouter une ressource</h1>
<div mat-dialog-content>
    <div class="form">
        <form [formGroup]="resForm">
            <mat-form-field appearance="outline">
                <mat-label>Code</mat-label>
                <input formControlName="code" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Unite</mat-label>
                <input formControlName="unit" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Prix Unitaire</mat-label>
                <input formControlName="unit_price" matInput type="number" required />
            </mat-form-field>
        </form>
    </div>
</div>



<mat-dialog-actions align="end">
    <button [disabled]="!resForm.valid" type="submit" mat-raised-button (click)="addResource()">OK</button>
</mat-dialog-actions> -->

<form nz-form [formGroup]="resForm">
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="code" nz-input type="text" placeholder="Code" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="description" nz-input type="text" placeholder="Description" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="unit" nz-input type="text" placeholder="Unité" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group>
                <input formControlName="unit_price" nz-input type="number" placeholder="Prix Unitaire" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancel()">Annuler</button>
    <button [disabled]="!resForm.valid" nz-button nzType="primary" (click)="addResource()">OK</button>
</div>
