<!-- <h1 mat-dialog-title>Ajouter une ressource</h1>
<div mat-dialog-content>
    <div class="form">
        <form [formGroup]="resForm">
            <mat-form-field appearance="outline">
                <mat-label>Code</mat-label>
                <input formControlName="code" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Unite</mat-label>
                <input formControlName="unit" matInput type="text" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Prix Unitaire</mat-label>
                <input formControlName="unit_price" matInput type="number" required />
            </mat-form-field>
        </form>
    </div>
</div>
<mat-dialog-actions align="end">
    <button [disabled]="!resForm.valid" type="submit" mat-raised-button (click)="addResource()">OK</button>
</mat-dialog-actions> -->
