.add-container {
    height: 100%;
    padding-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.form-item {
    flex: 1;
}
.transfer-item {
    flex: 3;
}

.confirm-btn-item {
    flex: 1;
}
.confirm-btn {
    margin: auto;
    text-align: center;
}

.transfer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 15px;
    margin: 0 10px 0 10px;
    width: 100%;
    align-self: stretch;
}

.item-no-pad {
    width: 100%;
    margin: 0 10px 0 10px;

    align-self: stretch;
    overflow-y: auto;
}

.border {
    border: 1px solid rgba(219, 217, 217, 0.692);
}

.table {
    width: 100%;
    overflow: auto;
}
