<nz-space nzDirection="vertical">
    <nz-space-item>
        <nz-descriptions nzTitle="Definition" nzBordered [nzSize]="'small'">
            <nz-descriptions-item nzTitle="Code">{{ team.code }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Description">{{ team.description }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Unite">{{ team.unit }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Cout Unitaire">{{ totalPrice }} $</nz-descriptions-item>
        </nz-descriptions>
    </nz-space-item>
    <nz-space-item>
        <app-team-detail-table (edited)="resourceEdited()" [data]="data"></app-team-detail-table>
    </nz-space-item>
</nz-space>
