<nz-tabset class="tabset">
    <nz-tab nzTitle="Equipements">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-equipement></app-equipement>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Main-d'oeuvre">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-workforce></app-workforce>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Materiau">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-material></app-material>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Vrac">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-vrac></app-vrac>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Divers">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-divers></app-divers>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Sous-traitant">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-contractor></app-contractor>
            </div>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Frais Generaux">
        <ng-template nz-tab>
            <div class="tab-content">
                <app-fg></app-fg>
            </div>
        </ng-template>
    </nz-tab>
</nz-tabset>
