/* You can add global styles to this file, and also import other style files */

@import '~tabulator-tables/dist/css/tabulator.min.css';
// @import '~tabulator-tables/dist/css/semantic-ui/tabulator_semantic-ui.min.css';
@import '~ng-zorro-antd/ng-zorro-antd.min.css';

.tabulator-col {
    height: 100% !important;
}
.tabulator-col-title {
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
}
