<div class="grid">
    <div class="info border">
        <div class="info-grid">
            <div>Code</div>
            <div class="label">{{ resource.code }}</div>

            <div>Description</div>
            <div class="label">{{ resource.description }}</div>

            <div>Unite</div>
            <div class="label">{{ resource.unit }}</div>

            <div>Type de prix</div>
        </div>
    </div>
    <div class="summary border">
        <div class="summary-grid">
            <div>Quantite:</div>
            <div class="label">1</div>
            <div>Cout Unitaire:</div>
            <div class="label">{{ resource.unit_price }}</div>
            <div>Total:</div>
            <div class="label">{{ resource.code }}</div>
        </div>
    </div>
    <div class="detail border">
        <app-equipement-detail-table [disabled]="disabled" [data]="[]"></app-equipement-detail-table>
    </div>
</div>
