<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="project"></i>
                <span> Projet </span>

                <a routerLink="/project" routerLinkActive="active"> </a>
            </li>
            <li nz-submenu nzTitle="Bordereau" nzIcon="table">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <span> Bordereau de soumission </span>
                        <a routerLink="/bordereau" routerLinkActive="active"></a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <span> Bordereau avec ressources </span>
                        <a routerLink="/bordereau-ressource" routerLinkActive="active"></a>
                    </li>
                </ul>

                <a routerLink="/bordereau" routerLinkActive="active"> </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="unordered-list"></i>
                <span> Ressource </span>

                <a routerLink="/resource"></a>
            </li>

            <li nz-submenu nzTitle="Équipe" nzIcon="team">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <span> Liste des équipes </span>
                        <a routerLink="/team" routerLinkActive="active"></a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <span> Ajouter une équipe </span>
                        <a routerLink="/team-add" routerLinkActive="active"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
